td:first-child {
	color:red;
}
th:first-child {
	color:red;
}
td:last-child {
	color:blue;
}
th:last-child {
	color:blue;
}

td {
	height: 10vh;
}
td:hover {
	cursor:pointer;
	background-color:#ffeeba;
}

table {
	table-layout: fixed;
}

/* ログアウト */
#logout {
	color:#212529;
}

#logout:hover {
	cursor:pointer;
}